<h1>Coaching#answer</h1>
<p>Find me in app/views/coaching/answer.html.erb</p>
<h2><%= @query %></h2>
<p>- You</p>
<hr>
<h2> <%= @answer %> </h2>
<p>- Coach</p>

<%= link_to "Ask a question", "/ask" %>
