<h1>Ask the coach</h1>
<p>This is where you put in the question!</p>


<form action="/answer">
  <label for="question">Whats your question?</label>
  <input type="text" class="form-control" id="question" placeholder="Enter question here" name="query">
  <input type="submit" class="btn btn-primary" value="Submit Now!">
</form>
